/* Base styling */

html {
	height: 100%;
	min-height: 100%;
}

/* If the screen size wider than this, set the font-size of body text larger */
@media screen and (min-width: 651px) {
	body {font-size: 15px;}
}
/* If the screen size is skinnier than this, set the font-size of body text smaller */
@media screen and (max-width: 650px) {
	body {font-size: 12px;}
}

/* Section styling */

div#wrapper {
	width: 85%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 0%;
	border: none;
}
div#menu {
	font-family: sans-serif;
	font-size: 100%;
	text-align: left;
}
div#main {
    font-family: serif;
	margin: 0px;
	text-align: left;
}
div#footer {
    font-family: monospace;
	font-size: 55%;
	text-align: right;
}

/* Typography styling */

h1, h2, h3, h4 {
	font-family: sans-serif;
	padding-top: 4%;
	font-weight: bold;
	color: #313131;
	text-align: left;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 135%;
}
h4 {
	font-size: 125%;
}
p {
	font-size: 125%;
	line-height: 155%;
	color: #404040;
}
p.subhead {
	font-family: sans-serif;
	font-size: 90%;
	line-height: 125%;
	color: #404040;
}
#main ul {
	font-size: 135%;
	line-height: 155%;
	color: #404040;
	list-style-type: circle;
}
#main ol {
	font-size: 135%;
	line-height: 155%;
	color: #404040;
}
#main a, a:link, a:visited, a:hover, a:active {
	color: #009900;
	text-decoration:none;
}
#menu ul {
	padding: 0%;
	line-height:250%;
}
#menu li {
	display: inline;
}
#menu li a {
	background-color: #009900;
	font-weight:bold;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}
#menu li a:hover {
	background-color: #009900;
}
