/* Base styling */

html {
	height: 100%;
	min-height: 100%;
}
body {
	width: 85%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 0%;
	border: none;
  	font-size: 16px;
  	font-family: serif;
}
/* If the screen size wider than this, set this typography */
@media screen and (min-width: 651px) {
	body {font-size: 100%;}
}
/* If the screen size is skinnier than this, set this typography */
@media screen and (max-width: 650px) {
	body {font-size: 90%; margin:2%;}
}

/* Section styling */

div#menu {
	font-family: serif;
	font-size: 100%;
	text-align: left;
	padding-bottom: 1%;
	border-bottom: 1px solid #313131;
}
div#footer {
    font-family: serif;
	font-size: 70%;
	text-align: right;
}

/* Typography styling */

h1, h2, h3, h4 {
	font-family: sans-serif;
	padding-top: 2%;
	font-weight: bold;
	color: #313131;
	text-align: left;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
h4 {
	font-size: 105%;
}
p, blockquote {
	line-height: 155%;
	color: #404040;
}
blockquote {
	border-left: 1px solid;
	margin-left: 3%;
	padding-left: 3%;
}
hr {
	border: 1px solid;
	color: #404040;
	width: 30%;
}
ul {
	line-height: 155%;
	color: #404040;
	list-style-type: circle;
}
ol {
	line-height: 155%;
	color: #404040;
}
a, a:link, a:visited, a:hover, a:active {
	color: #009900;
	text-decoration:none;
}
