/* semioticrobotic site system stylesheet*/

/* Variables */

html {
	--text-color: #313131;
	--accent-color: #006DDA; 
}

/* Base styling */

html {
	height: 100%;
	min-height: 100%;
}
body {
	margin: 5% auto;
  	font-size: 16px;
  	font-family: serif;
	line-height: 155%;
}
/* If the screen size wider than this, set this typography */
@media screen and (min-width: 651px) {
	body {font-size: 100%; width: 85%;}
}
/* If the screen size is skinnier than this, set this typography */
@media screen and (max-width: 650px) {
	body {font-size: 90%; margin: 4% 6%;}
}
hr {
	border-width: 0;
	border-top: 1px solid var(--text-color);
	width: 30%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/* Section styling */

.menu {
	font-family: serif;
	font-size: 100%;
	text-align: left;
	padding-bottom: 1%;
}
.footer {
    font-family: serif;
	font-size: 70%;
	text-align: right;
	margin-top: 3%;
	line-height: 145%;
}

/* Typography styling */

h1, h2, h3, h4 {
	font-family: sans-serif;
	padding-top: 2%;
	font-weight: bold;
	color: var(--text-color);
	text-align: left;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
h4 {
	font-size: 105%;
}
p, blockquote {
	color: var(--text-color);
}
blockquote {
	border-left: 1px solid var(--accent-color);
	margin-left: 3%;
	padding-left: 3%;
}
pre {
	display: block;
	font-family: monospace;
	line-height: 105%;
}
ul {
	color: var(--text-color);
	list-style-type: circle;
}
ol {
	color: var(--text-color);
}

/* Hyperlink styling */

a, a:link, a:visited, a:hover, a:active {
	color: var(--accent-color);
	text-decoration: none;
}
.menu a:link, .menu a:visited {
	background-color: white;
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	padding: .7% 1%;
	margin-right: 1.5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.menu a:hover, .menu a:active {
  background-color: var(--accent-color);
  color: white;
}

/* Table styling */

table {
	border-collapse: collapse;
	border-spacing: 5px;
	margin:3% 0%;
}

th,
td,
tr {
	padding: 15px 0px;
	text-align: left;
	border-bottom:1px solid var(--accent-color);
}

/* Form styling */

label {
	color: var(--text-color);
}
input[type=text] {
	width: 50%;
	color: var(--text-color);
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: white;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	color: var(--accent-color);
	padding: .7% 1%;
	margin-right: 1.5%;
	font-family: serif;
	font-size: 100%;
	text-decoration: none;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	background-color: var(--accent-color);
	color: white;
}
